* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

main {
  width: 100%;
  background: #fff; }
  main section {
    width: 100%; }
    main section::after {
      content: "";
      display: block;
      clear: both; }
    main section .item-sizer {
      width: calc(100% / 6);
      height: 0px;
      opacity: 0; }
    main section .item {
      width: calc(100% / 6);
      height: 70vh;
      float: left;
      border-right: 0.25px solid #111;
      border-top: 0.25px solid #111; }
      main section .item .inner {
        width: 100%;
        height: 100%; }
      main section .item:nth-of-type(2) {
        height: 5vh; }
      main section .item:nth-of-type(3) {
        height: 10vh; }
      main section .item:nth-of-type(4) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(5) {
        height: 10vh; }
      main section .item:nth-of-type(6) {
        height: 10vh; }
      main section .item:nth-of-type(7) {
        height: 5vh; }
      main section .item:nth-of-type(8) {
        width: 33.3%;
        height: 30vh; }
      main section .item:nth-of-type(9) {
        width: 33.3%; }
      main section .item:nth-of-type(10) {
        width: 33.3%; }
      main section .item:nth-of-type(11) {
        width: 33.3%;
        height: 40vh; }
      main section .item:nth-of-type(12) {
        height: 30vh; }
      main section .item:nth-of-type(13) {
        height: 30vh; }
      main section .item:nth-of-type(14) {
        width: 33.3%; }
      main section .item:nth-of-type(17) {
        width: 33.3%;
        height: 40vh; }
      main section .item:nth-of-type(18) {
        width: 33.3%;
        height: 20vh; }
      main section .item:nth-of-type(19) {
        width: 33.3%;
        height: 20vh; }
      main section .item:nth-of-type(20) {
        width: 33.3%;
        height: 50vh; }
      main section .item:nth-of-type(21) {
        width: 33.3%;
        height: 50vh; }
      main section .item:nth-of-type(22) {
        width: 33.3%;
        height: 50vh; }
      main section .item:nth-of-type(23) {
        width: 33.3%;
        height: 20vh; }
      main section .item:nth-of-type(24) {
        height: 30vh; }
      main section .item:nth-of-type(25) {
        height: 30vh; }
      main section .item:nth-of-type(26) {
        width: 33.3%; }
      main section .item:nth-of-type(27) {
        width: 33.3%;
        height: 30vh; }
      main section .item:nth-of-type(28) {
        width: 33.3%;
        height: 40vh; }
      main section .item:nth-of-type(29) {
        width: 33.3%;
        height: 40vh; }
      main section .item:nth-of-type(30) {
        width: 33.3%;
        height: 30vh; }
      main section .item:nth-of-type(31) {
        width: 33.3%;
        height: 30vh; }
      main section .item:nth-of-type(32) {
        width: 33.3%;
        height: 30vh; }
      main section .item:nth-of-type(33) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(34) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(35) {
        width: 33.3%;
        height: 10vh; }

@media screen and (max-width: 1199px) {
  main section .item-sizer {
    width: 33.333%;
    height: 0px;
    opacity: 0; }
  main section .item {
    width: 33.333%;
    height: 25vh;
    padding: 15px;
    float: left; }
    main section .item:nth-of-type(2) {
      width: 66.666%;
      height: 50vh; }
    main section .item:nth-of-type(3) {
      width: 33.333%;
      height: 50vh; }
    main section .item:nth-of-type(5) {
      width: 66.666%;
      height: 50vh; }
    main section .item:nth-of-type(7) {
      width: 100%; }
    main section .item .inner {
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=style.css.map */
