@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

.minibars {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: right;
  cursor: pointer; }

main {
  width: 100%;
  background: #fff; }
  main section {
    width: 100%; }
    main section::after {
      content: "";
      display: block;
      clear: both; }
    main section .item-sizer {
      width: calc(100% / 6);
      height: 0px;
      opacity: 0; }
    main section .item {
      width: calc(100% / 6);
      height: 70vh;
      float: left;
      border-right: 0.25px solid #111;
      border-top: 0.25px solid #111; }
      main section .item .inner {
        width: 100%;
        height: 100%; }
      main section .item:nth-of-type(2) {
        height: 5vh; }
        main section .item:nth-of-type(2) .inner span {
          display: block;
          font: lighter 24px/5vh 'Heebo';
          letter-spacing: 1px;
          text-align: center; }
      main section .item:nth-of-type(3) {
        height: 10vh; }
        main section .item:nth-of-type(3) .inner h1 {
          display: block;
          font: 30px/10vh 'Heebo';
          letter-spacing: 2px;
          text-align: center; }
      main section .item:nth-of-type(4) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(5) {
        height: 10vh; }
        main section .item:nth-of-type(5) .inner span {
          display: block;
          font: 15px/10vh 'Heebo';
          letter-spacing: 2px;
          text-align: center;
          cursor: pointer; }
      main section .item:nth-of-type(6) {
        height: 10vh; }
        main section .item:nth-of-type(6) .inner i {
          display: block;
          font-size: 20px;
          line-height: 10vh;
          text-align: center;
          cursor: pointer;
          color: #333; }
      main section .item:nth-of-type(7) {
        height: 5vh; }
        main section .item:nth-of-type(7) .inner span {
          display: block;
          font: lighter 24px/5vh 'Heebo';
          letter-spacing: 1px;
          text-align: center; }
      main section .item:nth-of-type(8) {
        width: 33.3%;
        height: 30vh; }
        main section .item:nth-of-type(8) .inner::after {
          content: "";
          display: block;
          clear: both; }
        main section .item:nth-of-type(8) .inner .right-border-box {
          float: left;
          width: calc(100% / 6);
          height: 50%;
          border-right: 1px solid #111;
          margin-top: 7vh; }
          main section .item:nth-of-type(8) .inner .right-border-box:last-child {
            border-right: none; }
      main section .item:nth-of-type(9) {
        width: 33.3%;
        background-image: url(../img/main1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1); }
      main section .item:nth-of-type(10) {
        width: 33.3%; }
        main section .item:nth-of-type(10) .inner .first-wrap {
          width: 90%;
          height: 90%;
          border: 1px solid #111;
          margin: 5% auto; }
          main section .item:nth-of-type(10) .inner .first-wrap .second-wrap {
            width: 90%;
            height: 90%;
            border: 1px solid #111;
            margin: 5% auto;
            text-align: center; }
            main section .item:nth-of-type(10) .inner .first-wrap .second-wrap h2 {
              display: block;
              position: relative;
              font: 30px/1 'Heebo';
              letter-spacing: 2px;
              top: 50%;
              transform: translateY(-50%); }
            main section .item:nth-of-type(10) .inner .first-wrap .second-wrap p {
              display: block;
              position: relative;
              font: 10px/1 'Heebo';
              letter-spacing: 2px;
              top: 45%; }
      main section .item:nth-of-type(11) {
        width: 33.3%;
        height: 40vh; }
        main section .item:nth-of-type(11) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(11) .inner h2 {
            font: lighter 35px/1 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(11) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 15px/1 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(12) {
        height: 30vh; }
        main section .item:nth-of-type(12) .inner img {
          width: 60%;
          height: 60%;
          border-radius: 100%;
          object-fit: cover;
          object-position: top;
          filter: grayscale(1);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      main section .item:nth-of-type(13) {
        height: 30vh; }
        main section .item:nth-of-type(13) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(13) .inner h2 {
            font: lighter 35px/1 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(13) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 12px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(14) {
        width: 33.3%; }
        main section .item:nth-of-type(14) .inner {
          width: 90%;
          height: 90%;
          border: 1px solid #111;
          margin: 5% auto;
          background-image: url(../img/main3.jpeg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
          main section .item:nth-of-type(14) .inner h3 {
            font: 30px/1 'Heebo';
            color: #fff;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      main section .item:nth-of-type(15) .inner {
        padding: 30px 20px; }
        main section .item:nth-of-type(15) .inner h2 {
          font: lighter 35px/1.2 'Heebo';
          letter-spacing: 2px; }
        main section .item:nth-of-type(15) .inner p {
          position: absolute;
          bottom: 23px;
          font: lighter 9px/1.3 'Heebo';
          text-decoration: underline; }
      main section .item:nth-of-type(16) .inner {
        background-image: url(../img/main4.jpeg);
        filter: grayscale(1);
        padding: 1px; }
        main section .item:nth-of-type(16) .inner .wrap {
          width: 80%;
          height: 80%;
          margin: 17% auto;
          border: 1px solid #fff;
          background-color: #fff; }
          main section .item:nth-of-type(16) .inner .wrap h3 {
            font: lighter 30px/1 'Heebo';
            color: #fff;
            letter-spacing: 2px;
            color: #111;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      main section .item:nth-of-type(17) {
        width: 33.3%;
        height: 40vh; }
        main section .item:nth-of-type(17) .inner {
          background-image: url(../img/main5.jpg);
          background-size: cover;
          filter: grayscale(1);
          padding: 1px; }
          main section .item:nth-of-type(17) .inner .wrap {
            width: 80%;
            height: 80%;
            margin: 6% auto;
            border: 1px solid #fff;
            background-color: #fff;
            opacity: .9; }
            main section .item:nth-of-type(17) .inner .wrap h3 {
              font: lighter 30px/1 'Heebo';
              color: #fff;
              letter-spacing: 2px;
              color: #111;
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      main section .item:nth-of-type(18) {
        width: 33.3%;
        height: 50vh; }
        main section .item:nth-of-type(18) .inner {
          width: 90%;
          height: 90%;
          border: 1px solid #111;
          margin: 4% auto;
          background-image: url(../img/main6.jpeg);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
          main section .item:nth-of-type(18) .inner h3 {
            font: 25px/1 'Heebo';
            color: #fff;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      main section .item:nth-of-type(19) {
        width: 33.3%;
        height: 20vh; }
        main section .item:nth-of-type(19) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(19) .inner h2 {
            font: lighter 20px/1 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(19) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 12px/1 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(20) {
        width: 33.3%;
        height: 20vh; }
        main section .item:nth-of-type(20) .inner {
          position: relative; }
          main section .item:nth-of-type(20) .inner .wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            text-align: center;
            position: absolute; }
            main section .item:nth-of-type(20) .inner .wrap::after {
              content: '';
              display: block;
              clear: both; }
            main section .item:nth-of-type(20) .inner .wrap .circle {
              float: left;
              width: 15px;
              height: 15px;
              margin-right: 50px;
              border-radius: 100%;
              border: 1px solid #111;
              cursor: pointer;
              transition: all .3s; }
              main section .item:nth-of-type(20) .inner .wrap .circle:first-child {
                background-color: #111; }
              main section .item:nth-of-type(20) .inner .wrap .circle:last-child {
                margin-right: 0; }
              main section .item:nth-of-type(20) .inner .wrap .circle:hover {
                background-color: #111; }
      main section .item:nth-of-type(21) {
        height: 50vh; }
        main section .item:nth-of-type(21) .inner {
          background-image: url(../img/main7.jpeg);
          background-position: center;
          background-size: cover;
          filter: grayscale(1);
          padding: 1px; }
          main section .item:nth-of-type(21) .inner .wrap {
            width: 80%;
            height: 80%;
            margin: 17% auto;
            border: 1px solid #fff;
            background-color: #fff; }
            main section .item:nth-of-type(21) .inner .wrap h3 {
              font: lighter 30px/1 'Heebo';
              color: #fff;
              letter-spacing: 2px;
              color: #111;
              writing-mode: vertical-rl;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      main section .item:nth-of-type(22) {
        height: 50vh; }
        main section .item:nth-of-type(22) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(22) .inner h2 {
            font: lighter 35px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(22) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 9px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(23) {
        width: 33.3%;
        height: 50vh; }
        main section .item:nth-of-type(23) .inner {
          width: 90%;
          height: 90%;
          border: 1px solid #111;
          margin: 4% auto;
          background-image: url(../img/main8.jpeg);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
          main section .item:nth-of-type(23) .inner h3 {
            font: 23px/1 'Heebo';
            color: #fff;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      main section .item:nth-of-type(24) {
        width: 33.3%;
        height: 20vh; }
        main section .item:nth-of-type(24) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(24) .inner h2 {
            font: lighter 30px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(24) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 9px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(25) {
        height: 30vh; }
        main section .item:nth-of-type(25) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(25) .inner h2 {
            font: lighter 32px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(25) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 9px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(26) {
        height: 30vh; }
        main section .item:nth-of-type(26) .inner .first-wrap {
          width: 80%;
          height: 80%;
          border: 1px solid #111;
          margin: 8% auto; }
          main section .item:nth-of-type(26) .inner .first-wrap .second-wrap {
            width: 65%;
            height: 65%;
            border: 1px solid #111;
            margin: 15% auto;
            text-align: center; }
            main section .item:nth-of-type(26) .inner .first-wrap .second-wrap .third-wrap {
              width: 50%;
              height: 50%;
              border: 1px solid #111;
              margin: 20% auto;
              text-align: center; }
      main section .item:nth-of-type(27) {
        width: 33.3%; }
        main section .item:nth-of-type(27) .inner {
          width: 90%;
          height: 90%;
          border: 1px solid #111;
          margin: 4% auto;
          background-image: url(../img/main9.jpeg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
          main section .item:nth-of-type(27) .inner h3 {
            font: 30px/1 'Heebo';
            color: #111;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      main section .item:nth-of-type(28) {
        width: 33.3%;
        height: 30vh; }
        main section .item:nth-of-type(28) .inner {
          position: relative; }
          main section .item:nth-of-type(28) .inner .wrap {
            width: 100%;
            padding: 35px 50px;
            margin: 0 auto;
            text-align: center;
            position: absolute; }
            main section .item:nth-of-type(28) .inner .wrap::after {
              content: '';
              display: block;
              clear: both; }
            main section .item:nth-of-type(28) .inner .wrap .circle {
              float: left;
              width: 10px;
              height: 10px;
              margin-right: 40px;
              margin-bottom: 20px;
              border-radius: 100%;
              border: 1px solid #111;
              cursor: pointer;
              transition: all .3s; }
              main section .item:nth-of-type(28) .inner .wrap .circle:first-child {
                background-color: #111; }
              main section .item:nth-of-type(28) .inner .wrap .circle:last-child {
                border: none;
                margin-top: -5px; }
              main section .item:nth-of-type(28) .inner .wrap .circle:hover {
                background-color: #111; }
              main section .item:nth-of-type(28) .inner .wrap .circle:nth-of-type(8n) {
                margin-right: 0; }
      main section .item:nth-of-type(29) {
        width: 33.3%;
        height: 40vh; }
        main section .item:nth-of-type(29) .inner {
          background-image: url(../img/main10.jpeg);
          background-position: center;
          background-size: cover;
          filter: grayscale(1);
          padding: 1px; }
          main section .item:nth-of-type(29) .inner .wrap {
            width: 90%;
            height: 80%;
            margin: 6% auto;
            border: 1px solid #fff;
            background-color: #fff; }
            main section .item:nth-of-type(29) .inner .wrap h3 {
              font: lighter 35px/1 'Heebo';
              color: #fff;
              letter-spacing: 2px;
              color: #111;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      main section .item:nth-of-type(30) {
        width: 33.3%;
        height: 40vh; }
        main section .item:nth-of-type(30) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(30) .inner h2 {
            font: lighter 32px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(30) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 12px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(31) {
        width: 33.3%;
        height: 30vh; }
        main section .item:nth-of-type(31) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(31) .inner h2 {
            font: lighter 32px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(31) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 12px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(32) {
        width: 33.3%;
        height: 30vh; }
        main section .item:nth-of-type(32) .line {
          width: 80%;
          height: 50%;
          border-bottom: 1px solid #111;
          margin: 0 auto; }
      main section .item:nth-of-type(33) {
        width: 33.3%;
        height: 30vh; }
        main section .item:nth-of-type(33) .inner {
          padding: 30px 20px; }
          main section .item:nth-of-type(33) .inner h2 {
            font: lighter 32px/1.3 'Heebo';
            letter-spacing: 2px; }
          main section .item:nth-of-type(33) .inner p {
            position: absolute;
            bottom: 30px;
            font: lighter 12px/1.3 'Heebo';
            text-decoration: underline; }
      main section .item:nth-of-type(34) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(35) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(36) {
        width: 33.3%;
        height: 10vh; }
      main section .item:nth-of-type(37) {
        width: 33.3%;
        height: 10vh; }

@media screen and (max-width: 1199px) {
  main section .item-sizer {
    width: 33.333%;
    height: 0px;
    opacity: 0; }
  main section .item {
    width: 33.333%;
    height: 25vh;
    padding: 15px;
    float: left; }
    main section .item:nth-of-type(2) {
      width: 66.666%;
      height: 50vh; }
    main section .item:nth-of-type(3) {
      width: 33.333%;
      height: 50vh; }
    main section .item:nth-of-type(5) {
      width: 66.666%;
      height: 50vh; }
    main section .item:nth-of-type(7) {
      width: 100%; }
    main section .item .inner {
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=style.css.map */
