@charset "utf-8";
@import "reset";

main {
   width: 100%;
   padding: 4vw;

   section {
      width: 100%;

      &::after {
         content: "";
         display: block;
         clear: both;
      }

      //최소박스의 넓이 설정용 더미 박스
      //높이값은 설정하지 않고 숨김처리
      .item-sizer {
         width: 25%;
         height: 0px;
         opacity: 0;
      }

      .item {
         width: 25%;
         height: 30vh;
         padding: 15px;
         float: left;

         //첫번째 박스 스타일
         &:nth-of-type(2) {width: 50%; height: 60vh;}

         //두번째 박스 스타일
         &:nth-of-type(3) {width: 50%;}

         //네번째 박스 스타일
         &:nth-of-type(5) {height: 60vh;}

         //여섯번째 박스 스타일
         &:nth-of-type(7) {width: 50%;}

         .inner {
            width: 100%;
            height: 100%;
            background: #fff;
         }
      }
   }
}

@media screen and (max-width: 1199px){
   main section {
      .item-sizer {
         width: 33.333%;
         height: 0px;
         opacity: 0;
      }

      .item {
         width: 33.333%;
         height: 25vh;
         padding: 15px;
         float: left;

         //첫번째 박스 스타일
         &:nth-of-type(2) {width: 66.666%; height: 50vh;}

         //두번째 박스 스타일
         &:nth-of-type(3) {width: 33.333%; height: 50vh;}

         //네번째 박스 스타일
         &:nth-of-type(5) {width: 66.666%; height: 50vh;}

         //여섯번째 박스 스타일
         &:nth-of-type(7) {width: 100%;}

         .inner {
            width: 100%;
            height: 100%;
            background: #fff;
            box-shadow: 5px 5px 20px rgba(0,0,0,.1);
         }
      }
   }
}
